<body>
    <header class="p-3 bg-dark text-white">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="https://www.apambiente.pt/residuos/estrategia-dos-biorresiduos" class="nav-link px-2 text-secondary">Biowastes</a></li>
                    <li><a href="https://enea.apambiente.pt/" class="nav-link px-2 text-white">Environmental education</a></li>
                    <!-- <li><a href="/readCollection" class="nav-link px-2 text-white">Collection</a></li>
              <li><a href="/readContainer" class="nav-link px-2 text-white">Container</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Key</a></li> -->
                </ul>


                <div class="text-right offset-md-4 py-4">
                    <button routerLink="/admin" role="button" type="button" class="btn btn-outline-light me-2 ">Home page </button>

                </div>

                <div class="text-right offset-md-1 py-4">
                    <button routerLink="" role="button" (click)="logout()" type="button" class="btn btn-outline-light me-2 ">Logout</button>


                </div>
            </div>
        </div>
    </header>


    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" *ngIf="!readOneCircuit" (click)="ngOnInit()">
                <div class="col-lg-12 col-xl-12">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row ">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <h2>List Circuit</h2>

                                    <button routerLink="/createCircuit" class="btn mb-3 btn-primary btn-sm">Create</button>


                                    <div *ngIf="successmsg" class="alert alert-warning alert-sucess fade show" role="alert">
                                        <strong>{{successmsg}}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                    <table class="table mt-3">
                                        <thead>
                                            <tr>
                                                <th scope="col">_id</th>
                                                <th scope="col">Circuit_code</th>

                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let circuit of readCircuit'>
                                                <th scope="row">{{circuit._id}}</th>
                                                <td>{{circuit.circuit_cod}}</td>
                                                <!-- <td *ngFor='let container of circuit.containers'>
                                                    {{container.adress}}
                                                </td> -->

                                                <!-- <td><button button class="btn btn-sm btn-secondary" (click)="getCircuitId([circuit._id])">Read</button></td> -->
                                                <td><a [routerLink]="['/readOneCircuit', circuit._id]" class="btn btn-sm btn-secondary">Read</a></td>
                                                <!-- (click)="getEmployeeId([circuit._id])" -->
                                                <!-- <td><a [routerLink]="['/readOneCircuit', circuit.circuit._id]" class="btn btn-sm btn-secondary">Read</a></td> -->
                                                <td><a [routerLink]="['/createCircuit', circuit._id]" class="btn btn-sm btn-success">Edit</a></td>
                                                <td><button button class="btn btn-sm btn-danger" (click)="delete_id(circuit._id)">Delete</button></td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>
