<body>
    <header class="p-3 bg-dark text-white">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="https://www.apambiente.pt/residuos/estrategia-dos-biorresiduos" class="nav-link px-2 text-secondary">Biowastes</a></li>
                    <li><a href="https://enea.apambiente.pt/" class="nav-link px-2 text-white">Educação Ambiental</a></li>
                    <!-- <li><a href="/readCollection" class="nav-link px-2 text-white">Collection</a></li>
          <li><a href="/readContainer" class="nav-link px-2 text-white">Container</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Key</a></li> -->
                </ul>

                <form class="col-md-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 offset-md-3 py-4">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-right offset-md-1 py-4">
                    <button routerLink="/logout" type="button" class="btn btn-outline-light me-2 ">Logout</button>

                </div>
            </div>
        </div>
    </header>


    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100" *ngIf="!readOneEmployee" (click)="ngOnInit()">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-12">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row ">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-left h2 fw-bold mb-4 mx-1 mx-md-4 mt-4">List Employee</p>

                                    <button routerLink="/createEmployee" class="btn mb-3 btn-primary btn-sm">Create</button>


                                    <div *ngIf="successmsg" class="alert alert-warning alert-sucess fade show" role="alert">
                                        <strong>{{successmsg}}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Adress</th>
                                                <th scope="col">Postal Code</th>
                                                <th scope="col">Occupation</th>
                                                <th scope="col">Permission</th>
                                                <th scope="col">Ativo</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let employee of readEmployee'>
                                                <th scope="row">{{employee._id}}</th>
                                                <td>{{employee.name}}</td>
                                                <td>{{employee.adress}}</td>
                                                <td>{{employee.postalCode}}</td>
                                                <td>{{employee.occupation}}</td>
                                                <td>{{employee.permission}}</td>
                                                <td>{{employee.ativo}}</td>

                                                <!-- <td><a [routerLink]="['/readEmployee', employee._id]" class="btn btn-sm btn-secondary">Read</a></td> -->
                                                <td><button button class="btn btn-sm btn-secondary" (click)="getEmployeeId([employee._id])">Read</button></td>
                                                <!-- <td> <button routerLink="['/createEmployee', employee._id]" type="button" class="btn btn-sm btn-success">Edit</button></td> -->
                                                <td><a [routerLink]="['/createEmployee', employee._id]" class="btn btn-sm btn-success">Edit</a></td>
                                                <td><button button class="btn btn-sm btn-danger" (click)="deleteID(employee._id)">Delete</button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container h-100" *ngIf="readOneEmployee" (click)="getEmployeeId('_id')">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-12">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row ">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-left h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">List Employee</p>

                                    <button routerLink="/createEmployee" class="btn mb-3 btn-primary btn-sm">Create</button>


                                    <div *ngIf="successmsg" class="alert alert-warning alert-sucess fade show" role="alert">
                                        <strong>{{successmsg}}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Adress</th>
                                                <th scope="col">Postal Code</th>
                                                <th scope="col">Occupation</th>
                                                <th scope="col">Permission</th>
                                                <th scope="col">Ativo</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let employee1 of readEmployee'>
                                                <th scope="row">{{employee1._id}}</th>
                                                <td>{{employee1.name}}</td>
                                                <td>{{employee1.adress}}</td>
                                                <td>{{employee1.postalCode}}</td>
                                                <td>{{employee1.occupation}}</td>
                                                <td>{{employee1.permission}}</td>
                                                <td>{{employee1.ativo}}</td>

                                                <!-- <td><a [routerLink]="['/readEmployee', employee._id]" class="btn btn-sm btn-secondary">Read</a></td> -->
                                                <td><button button class="btn btn-sm btn-secondary" (click)="getEmployeeId([employee1._id])">Read</button></td>
                                                <!-- <td> <button routerLink="['/createEmployee', employee._id]" type="button" class="btn btn-sm btn-success">Edit</button></td> -->

                                                <td><a [routerLink]="['/createEmployee', employee1._id]" class="btn btn-sm btn-success">Edit</a></td>
                                                <td><button button class="btn btn-sm btn-danger" (click)="deleteID(employee1._id)">Delete</button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>
