<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
</head>
<body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Biowastes</a>
            
           <button routerLink="/login" class="btn offset-11 btn-outline-success my-2 my-sm-0" ><a></a>Login</button>
            <button  routerLink="/registar" class="btn btn-outline-success my-2 my-sm-0" >Register</button>
            
          </nav>
    </header>
    
    <router-outlet></router-outlet>
    
</body>
</html>

