<div class="container mt-5">

    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="successmsg" class="alert alert-warning alert-sucess fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form [formGroup]="employeeForm" (ngSubmit)="employeeSubmit()">
        <!-- <div class="mb-3">
      <label for="_id" class="form-label">Id</label>
      <input type="text" class="form-control" formControlName="_id" placeholder="Enter _id">
  </div> -->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
        </div>
        <div class="mb-3">
            <label for="adress" class="form-label">Adress</label>
            <input type="text" class="form-control" formControlName="adress" placeholder="Enter adress">
        </div>
        <div class="mb-3">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input type="text" class="form-control" formControlName="postalCode" placeholder="Enter postalCode">

        </div>
        <div class="mb-3">
            <label for="occupation" class="form-label">Occupation</label>
            <input type="text" class="form-control" formControlName="occupation" placeholder="Enter occupation">

        </div>
        <div class="mb-3">
            <input type="checkbox" class="form-check-input" placeholder="Enter status">
            <label for="status" class="form-check-label">Ativo</label>


        </div>
        <button class="btn btn-primary">Create</button>
    </form>
</div>
