<body>
    <header class="p-3 bg-dark text-white">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="https://www.apambiente.pt/residuos/estrategia-dos-biorresiduos" class="nav-link px-2 text-secondary">Biowastes</a></li>
                    <li><a href="https://enea.apambiente.pt/" class="nav-link px-2 text-white">Environmental education</a></li>
                    <!-- <li><a href="/readCollection" class="nav-link px-2 text-white">Collection</a></li>
        <li><a href="/readContainer" class="nav-link px-2 text-white">Container</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Key</a></li> -->
                </ul>

                <div class="text-right offset-md-4 py-4">
                    <button routerLink="/admin" role="button" type="button" class="btn btn-outline-light me-2 ">Home page </button>

                </div>
                <div class="text-right offset-md-1 py-4">
                    <button routerLink="/logout" type="button" class="btn btn-outline-light me-2 ">Logout</button>

                </div>
            </div>
        </div>
    </header>
    <div class="container mt-5">

        <h2>List Container </h2>

        <table class="table mt-5 ">
            <thead>
                <tr>
                    <th scope="col">_id</th>
                    <th scope="col">Container code</th>
                    <th scope="col">GPS</th>
                    <th scope="col">Adress</th>
                    <!-- <th scope="col">DDCCFF</th> -->
                    <th scope="col"></th>
                    <!-- <th scope="col"></th> -->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let container of readContainer">

                    <td scope="row">{{container._id}}</td>
                    <td>{{container.container_cod}}</td>
                    <td>{{container.gpsLocation}}</td>
                    <td>{{container.adress}}</td>
                    <!-- <td>{{container.ddccff}}</td> -->



                    <td><button button class="btn btn-sm btn-secondary" (click)="getContainerId([container._id])">Read</button></td>
                    <!-- <td><a [routerLink]="['/createContainer', container._id]" class="btn btn-sm btn-success">Edit</a></td> -->
                    <td><button button class="btn btn-sm btn-danger" (click)="deleteID(container._id)">Delete</button></td>

                </tr>


            </tbody>
        </table>
    </div>
</body>
