<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
  </head>
<body >
  
    <div class="container my-container">
       
        <div *ngIf="mensagem" (click)="fechar()" id="alert"  class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>{{mensagem}}</strong>
          </div>

        <div class="row  my-row my-row1">
            <div class="col my-col">
                Perfil
            </div>
        </div>
        <div class="row justify-content-between my-row my-row2">
            <div class="col-4 my-col">
                <button id="pedirChave"   (click)="pedirChave()">Criar chave</button>
            </div>
            <div class="col-4 my-col">
                <button id="historicoContentor"   (click)="historicoContentor()">Histórico de contentores</button>
            </div>
            <div class="col-4 my-col">
              <button id="depositionsHistory"   (click)="depositionsHistory()">Histórico de contentores</button>
            </div>
        </div>
        <div class="row  my-row my-row3">
            <div class="col my-col">
                informaçao
            </div>
        </div>

    </div>

<div class="bg-modal bg-modal1">
    <div class="modal-content">

        <div class="close" (click)="closeModal1()">+</div>

        <h1>You already have key assigned!</h1>

        <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{errormsg}}</strong>
          </div>

        <form [formGroup]="userForm"  class="mx-1 mx-md-4" (ngSubmit)="submit()">
      
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="text" id="reason" formControlName="reason" class="form-control" />
                <label class="form-label" for="form3Example1c">Please especify your reason for a new key request</label>
              </div>
            </div>

            
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button  class="btn btn-primary btn-sm">submit</button>
            </div>

          </form>
        
    </div>
</div>


<div class="bg-modal bg-modal2">
    <div class="modal-content modal-content2">

        <div class="close" (click)="closeModal2()">+</div>

        <h1>Container history</h1>

        <div class="container">
            <table class="table">
                <thead>
                  <th scope="col">Container</th>
                  <th scope="col">Kgs deposited</th>
                  <th scope="col">Date</th>
                </thead>
                <tbody>
                  <tr *ngFor="let collection of collections">
                    <td>{{collection.container}}</td>
                    <td>{{collection.massaCollect_kg}}</td>
                    <td>{{collection.collectionDate}}</td>
                    
                  </tr>
                </tbody>
              </table>

        </div>

            
            
    </div>
</div>

<div class="bg-modal bg-modal3">
  <div class="modal-content modal-content3">

      <div class="close" (click)="closeModal3()">+</div>

      <h1>Depositions history</h1>
      <div *ngIf="dateAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{dateAlert}}</strong>
      </div>

      <div class="row my-row1">
        <div class="col-1 my-col">
        
  
          <select style="width: 50px;" [(ngModel)]="choice" name="choice" id="choice" (ngModelChange)="choiceMade()">
            <option selected hidden value="" >List by</option>
            <option value="county">County</option>
            <option value="parish">Parish</option>
            <option id="container" value="container">Container</option>
          </select>
          
        </div>  
        

      <div *ngIf="(choice)=='container' || (choice)=='parish' || (choice)=='county' ">
        <div class="col-2  my-col">
          <select style="width: 150px;" [(ngModel)]="county" name="county" id="county" (ngModelChange)="countyChosen()" >
            <option selected hidden >Choose a county</option>
            <option *ngFor="let county of counties" value={{county.code}}>{{county.location}}</option>
          </select>
        </div>
      </div>

  
      <div *ngIf="(choice)=='container' || (choice)=='parish'">
      <div class="col-4 my-col">
        <select style="width: 150px;" [(ngModel)]="parish" name="parish" id="parish" (ngModelChange)="parishChosen()" >
          <option selected hidden >Choose a parish</option>
          <option *ngFor="let parish of parishList" value={{parish.code}}>{{parish.location}}</option>
        </select>
      </div>
    </div>

      <div *ngIf="(choice)=='container'">
        <div class="col-1 my-col">
          <select  [(ngModel)]="container" style="width: 150px;" name="container" id="container" (ngModelChange)="containerChosen()" >
            <option selected hidden >Choose a container</option>
            <option *ngFor="let container of containers" value={{container.id}}>{{container.id}}</option>
          </select>
        </div>
      </div>

      <div class="col-2 my-col">
        <input [(ngModel)]="minDate"  min="2021-10-31" type="date" id="start" name="start"
        max="2022-12-31" > 
      </div>

      <div class="col-2 my-col">
        <input [(ngModel)]="maxDate" min="2021-10-31" type="date" id="end" name="end"
       value="2021-07-22"
        max="2022-12-31">
      </div>

      <div class="col-1 my-col">
        <button class="button" id="compare" name="compare" (click)="compare()">Compare</button>
      </div>
    
      </div>

      <div class="row my-row myChartRow ">
        <canvas id="myChart" width="400" height="150" #mychart></canvas>
      </div>
    </div>
  
      
  
</div>




</body>
</html>
