<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <div *ngIf="anonimo">
        <header class="p-3 bg-dark text-white">
          <div class="container ">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                  </a>
        
                  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      <li><a href="https://www.apambiente.pt/residuos/estrategia-dos-biorresiduos" class="nav-link px-2 text-secondary"><h5>Biowastes</h5></a></li>
                      <li><a href="https://enea.apambiente.pt/" class="nav-link px-2 text-white"><h5>Educação Ambiental</h5></a></li>
                  </ul>
        
        
                  <div class="text-right offset-md-1 py-4">
                      <button routerLink="" type="button" class="btn btn-outline-light me-2">Main page</button> &nbsp; &nbsp;
                   
                  </div>
              </div>
          </div>
        
        </header>
    </div>
    <div *ngIf="user">
        <header class="p-3 bg-dark text-white">
          <div class="container ">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                  </a>
        
                  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      <li><a href="https://www.apambiente.pt/residuos/estrategia-dos-biorresiduos" class="nav-link px-2 text-secondary"><h5>Biowastes</h5></a></li>
                      <li><a href="https://enea.apambiente.pt/" class="nav-link px-2 text-white"><h5>Educação Ambiental</h5></a></li>
                  </ul>
        
        
                  <div class="text-right offset-md-1 py-4">
                      <button routerLink="/menuUser" type="button" class="btn btn-outline-light me-2">Main page</button> &nbsp; &nbsp;
                      <button routerLink="/perfil" type="button" class="btn btn-outline-light me-2">Perfil</button> &nbsp; &nbsp;
                      <button (click)="logout()" type="button" class="btn btn-warning">Logout</button>
                  </div>
              </div>
          </div>
        
        </header>
    </div>
  

    <main>
        <div class="container my-container">
            <div class="row my-row">
              <div class="col my-col">
                  <h1>Depositions graph</h1>
              </div>
            </div>
                   
                    <div *ngIf="dateAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>{{dateAlert}}</strong>
                    </div>
   
                    <div class="row my-row1">
                      <a >Would you like to compare by:</a>
                      <div class="col-1 my-col">
                      
                       
                        <select   style="width: 80px;" [(ngModel)]="choice" name="choice" id="choice" (ngModelChange)="choiceMade()">
                          <option hidden selected  >List by</option>
                          <option value="county">County</option>
                          <option value="parish">Parish</option>
                          <option id="container" value="container">Container</option>
                        </select>
    
                        
                        
                      </div>  
                      
              
                    <div *ngIf="(choice)=='container' || (choice)=='parish' || (choice)=='county' ">
                      <div class="col-2  my-col">
                        <select style="width: 150px;" [(ngModel)]="county" name="county" id="county" (ngModelChange)="countyChosen()" >
                          <option selected hidden >Choose a county</option>
                          <option *ngFor="let county of counties" value={{county.code}}>{{county.location}}</option>
                        </select>
                      </div>
                    </div>
              
                
                    <div *ngIf="(choice)=='container' || (choice)=='parish'">
                    <div class="col-4 my-col">
                      <select style="width: 150px;" [(ngModel)]="parish" name="parish" id="parish" (ngModelChange)="parishChosen()" >
                        <option selected hidden >Choose a parish</option>
                        <option *ngFor="let parish of parishList" value={{parish.code}}>{{parish.location}}</option>
                      </select>
                    </div>
                  </div>
              
                    <div *ngIf="(choice)=='container'">
                      <div class="col-1 my-col">
                        <select  [(ngModel)]="container" style="width: 150px;" name="container" id="container" (ngModelChange)="containerChosen()" >
                          <option selected hidden >Choose a container</option>
                          <option *ngFor="let container of containers" value={{container._id}}>{{container.container_cod}}</option>
                        </select>
                      </div>
                    </div>
                    </div>
    
                  
                    <div class="row my-row">
                        <div class="col my-col">
                              <input type="radio" id="radio1" name="radios" value="all" checked>
                              <label (click)="compararMes()" for="radio1">Compare last month</label>

                            <input type="radio" id="radio2" name="radios"value="false">
                              <label (click)="compararTrimestre(0)" for="radio2">Compare last trimester</label>

                            <input type="radio" id="radio3" name="radios" value="true">
                              <label (click)="compararTrimestre(1)" for="radio3">Compare last semester</label>

                              <input type="radio" id="radio4" name="radios" value="true">
                              <label (click)="compararAno(0)" for="radio4">Compare last year</label>

                              <input type="radio" id="radio5" name="radios" value="true">
                              <label  (click)="compararAno(1)" for="radio5">Compare all information</label>
                        </div>
                    </div>
                  
    
                    <div class="row my-row myChartRow ">
                      <canvas id="myChart" width="400" height="150" #mychart></canvas>
                    </div>
                  </div>
    </main>
    
</body>
</html>
