<body>
    <header class="p-3 bg-dark text-white">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="https://www.apambiente.pt/residuos/estrategia-dos-biorresiduos" class="nav-link px-2 text-secondary">Biowastes</a></li>
                    <li><a href="https://enea.apambiente.pt/" class="nav-link px-2 text-white">Environmental education</a></li>
                    <!-- <li><a href="/readCollection" class="nav-link px-2 text-white">Collection</a></li>
          <li><a href="/readContainer" class="nav-link px-2 text-white">Container</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Key</a></li> -->
                </ul>


                <div class="text-right offset-md-4 py-4">
                    <button routerLink="/admin" role="button" type="button" class="btn btn-outline-light me-2 ">Home page </button>

                </div>

                <div class="text-right offset-md-1 py-4">
                    <button routerLink="" role="button" (click)="logout()" type="button" class="btn btn-outline-light me-2 ">Logout</button>

                </div>
            </div>
        </div>
    </header>


    <section class="vw-100" style="background-color: #eee;">

        <div class="container h-100" *ngIf="!readOneUser" (click)="ngOnInit()">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-12">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row ">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-left h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">List user</p>

                                    <button routerLink="/registar" class="btn mb-3 btn-primary btn-sm">Create</button>


                                    <div *ngIf="successmsg" class="alert alert-warning alert-sucess fade show" role="alert">
                                        <strong>{{successmsg}}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>

                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Key</th>
                                                <th scope="col">Permission</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let user of readUser'>
                                                <th scope="row">{{user.name}}</th>
                                                <td>{{user.email}}</td>
                                                <td>{{user.key}}</td>
                                                <td>{{user.permission}}</td>


                                                <td><button button class="btn btn-sm btn-secondary" (click)="getUserId([user._id])">Read </button></td>
                                                <td><a [routerLink]="['/registar', user._id]" class="btn btn-sm btn-success">Edit</a></td>
                                                <td><button button class="btn btn-sm btn-danger" (click)="deleteId(user._id)">Delete</button></td>
                                                <td><button button class="btn btn-sm btn-secondary" (click)="historicoDeposicaoPorRecolha(user.email)">View history </button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <div class="bg-modal bg-modal4">
        <div class="modal-content modal-content4">

            <div class="close" (click)="closeModal4()">+</div>

            <h1>Collection history</h1>

            <div class="container">
                <table class="table">
                    <thead>
                        <th scope="col">Number of depositions</th>
                        <th scope="col">Kgs deposited</th>
                        <th scope="col">Date</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let collection of collections">
                            <td>{{collection.numberCollections}}</td>
                            <td>{{collection.massaCollect_kg}}</td>
                            <td>{{collection.collectionDate}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>



        </div>
    </div>

</body>
